*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: black;
}

.netflix{
    background-image: url("/img/movie\ collection.jpg");
    background-position: cover;
    max-width: 100%;

    .logo h1{
        color:red
    }



}